@using MyBlogDomain.Entities
@model List<Experience>
@{
    ViewData["Title"] = "Experience Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body px-0 pt-0 pb-2">
    <div class="table-responsive p-0">
        <table class="table align-items-center justify-content-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Title</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Experience Descriptions</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Experience Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Delete</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.CompanyName</p>
                        </td>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.Address</p>
                        </td>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.Title</p>
                        </td>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.DescriptionOfRole</p>
                        </td>
                        <td>
                            <p class="text-sm font-weight-bold mb-0">@item.StartDate - @item.EndDate</p>
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("RemoveExperience","Experience",new {experienceId=item.Id })" class="btn btn-danger">Delete</a>
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("EditExperience","Experience",new {experienceId=item.Id})" class="btn btn-secondary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

