@using MyBlogDomain.Entities
@model List<About>


<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>about me</h2>
    </div>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="about-content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-about-txt">
                                <p>
                                    @item.Description
                                </p>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="single-about-add-info">
                                            <h3>phone</h3>
                                            <p>@item.Phone</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="single-about-add-info">
                                            <h3>email</h3>
                                            <p>@item.Mail</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-offset-1 col-sm-5">
                            <div class="single-about-img">
                                <img src="@item.ImageURL" alt="profile_image">
                                <div class="about-list-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.linkedin.com/in/tar%C4%B1k-%C3%A7elebi-8773ab15a/">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.kariyer.net/ozgecmis/tarikcelebi74">
                                                <i src="./Template/assets/images/about/download.png" aria-hidden="true"></i>
                                            </a>
                                        </li><!-- / li -->
                                    </ul><!-- / ul -->
                                </div><!-- /.about-list-icon -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    }
    @if(Model==null)
    {
        <div class="container">
            <div class="about-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-about-txt">
                            <p>please go to user panel</p>
                            <a href="@Url.Action("Index","About")"  >click</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }


</section>

