@using MyBlogDomain.Entities
@model List<Experience>


<section id="experience" class="experience">
	<div class="section-heading text-center">
		<h2>experience</h2>
	</div>
	<div class="container">
		<div class="experience-content">
			<div class="main-timeline">
				<ul>
					@foreach(var item in Model)
					{
						<li>
							<div class="single-timeline-box fix">
								<div class="row">
									<div class="col-md-5">
										<div class="experience-time text-right">
											@if (item.EndDate == null)
											{
												<h2>@item.StartDate.ToShortDateString() - present</h2>
											}
											else
											{
												<h2>@item.StartDate.ToShortDateString() - @item.EndDate</h2>
											}

										<h3>@item.Title</h3>
									</div><!--/.experience-time-->
								</div><!--/.col-->
								<div class="col-md-offset-1 col-md-5">
									<div class="timeline">
										<div class="timeline-content">
											<h4 class="title">
												<span><i class="fa fa-circle" aria-hidden="true"></i></span>
												@item.CompanyName
											</h4>
											<h5>@item.Address</h5>
											<p class="description">
												@item.DescriptionOfRole
											</p>
										</div><!--/.timeline-content-->
									</div><!--/.timeline-->
								</div><!--/.col-->
							</div>
						</div><!--/.single-timeline-box-->
					</li>
					}
					
				</ul>
			</div><!--.main-timeline-->
		</div><!--.experience-content-->
	</div>

</section>
